@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    }



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    overflow:hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFCD1D;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    color: #CD0000;
    
}

.title-container h1 {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0.04em;
}

.title-container h3 {
    font-family: 'UhBeeSeulvely';
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: center;

}

h1 a{
    color: inherit;
}


/* 메인페이지 타이틀 아래 부분을 main container로 감쌈 */
.main-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* justify-content: space-between; */
}

/* 냉장고와 레시피 노트 이미지 부분 위치 설정 */

.fridge-img-container{
    width: 520px;
    height: auto;
    margin-left: 8%;
}

/* 냉장고 컨테이너의 첫번쨰 자식인 냉장고 이미지 */
.fridge-img-container > a:nth-child(1) > img {
    display: flex;
    flex-direction: center;
    width: 100%;
}

/* 냉장고 컨테이너의 두번째 자식인 레시피노트 이미지 */
.fridge-img-container > a:nth-child(2) > img{
    position: relative;
    width: 230px;
    bottom: 800px;
    left: 230px;
    z-index: 50;
}

/* 냉장고에 마우스를 올렸을 때 효과 */
.fridge-img-container > a:nth-child(1) > img:hover {
    width: 530px;
    transition: 0.2s;
    transition-timing-function:ease-in;
    cursor: pointer;
}

/* 레시피 노트에 마우스를 올렸을 때 효과 */
.fridge-img-container > a:nth-child(2) > img:hover{
    width: 240px;
    transition: 0.2s;
    transition-timing-function:ease;
    cursor: pointer;
}






/* 냉장고 왼쪽 click fridge 설명 부분  */

.clickFridge-container{
    display: flex;
    position: relative;
    flex-direction: column;
    left: 190px;
    top: 290px;
}


.clickFridge-container > img{

    width: 230px;
}

.clickFridge-container > div {


    font-family: 'UhBeeSeulvely';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    text-decoration-line: underline;

    color: #000000;

    margin-top: 10px;

}

/* 냉장고 오른쪽 click recipe 설명 부분  */

.clickRecipe-container{
    display: flex;
    position: relative;
    right: 100px;
    top:90px;
    flex-direction: column;
    z-index: 80;
}

/* 빨간 click recipe 버튼 이미지 */

.clickRecipe-container > img{
    margin-left: 120px;
    width: 230px;

}

/* click recipe 설명 부분 */
.clickRecipe-container > div {
    font-family: 'UhBeeSeulvely';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #000000;

}



