@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-family: UhBeeSeulvely;
}

* {
    text-align: center;
    box-sizing: border-box;
}

body {
    min-width: 755px;
    background: #FFFDF8;
}

img {
    width: 277px;
    height: 181.82px;
    left: 360px;
    top: 357px;
}

.navbar {
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFCD1D;
    clear: both;
}

.nav-item:first {
    color: red;
    border-bottom: 10px solid red;
}


/* font 관련 css font-[ko/en][fontSize]-[fontFamily] */

#font-en {
    font-family: Caveat Brush;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.04em;
    color: #CD0000;
}

#font-en1 {
    font-family: Caveat Brush;
    font-style: normal;
    font-size: 21px;
    color: #DAA520;
}

#font-ko,
h2 {
    /* pre font 'Gamja Flower'*/
    font-family: Roboto, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;
}

#font-ko-ubs {
    /* pre font 'Gamja Flower'*/
    font-family: UhBeeSeulvely, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;
}

#font-ko1 {
    font-family: Roboto, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

#font-ko1-ubs {
    font-family: UhBeeSeulvely, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: black;
}

#font-ko2,
p {
    font-family: Roboto, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
}

.img-box {
    display: inline-block;
}

.btn-group {
    margin: 7px;
}

.btn-ingredient {
    display: inline-block;
}

.btn-ingredient .btn {
    width: 175px;
    height: 62px;
    border: 4px solid rgba(0, 0, 0, 0.164);
    background-color: #FFCD1D;
    border-radius: 40px;
    font-size: 23px;
}

.btn-ingredient p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.selectpicker {
    background: red;
}

.filter-option {
    /* step1 dropdown btn 글자크기 조절 */
    line-height: 40px;
    font-size: 15px;
    color: black;
}


/*.filter-option기존내장효과지우기*/

.rcp-thm,
.rcp-time {
    background: #FFCD1D;
    margin: 6px;
}

.rcp-thm.selected,
.rcp-time.selected {
    background-color: #DAA520;
}

.submit {
    background: #FFCD1D;
    border: 5x solid #000000;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    line-height: 60px;
    width: 250px;
    height: 60px;
    border-radius: 250px /60px;
    background-position: center;
    background-size: auto;
}


/* 초과 클릭시 버튼 비활성화 후 shake animation */

.shake {
    -webkit-animation: boxmove 0.1s linear 3 alternate;
    -moz-animation: boxmove 0.1s linear 3 alternate;
    -ms-animation: boxmove 0.1s linear 3 alternate;
    -o-animation: boxmove 0.1s linear 3 alternate;
    animation: boxmove 0.1s linear 3 alternate;
}

@keyframes boxmove {
    from {
        left: 0px;
    }
    to {
        left: 3px;
    }
}


/* for result2.html */

iframe {
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 100vw;
}