@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-family: UhBeeSeulvely;
}

* {
    text-align: center;
    box-sizing: border-box;
}

body {
    min-width: 755px;
    background: #FFFDF8;
}

img {
    width: 277px;
    height: 181.82px;
    left: 360px;
    top: 357px;
}

.navbar {
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFCD1D;
    clear: both;
}

.nav-item:first {
    color: red;
    border-bottom: 10px solid red;
}


/* font 관련 css font-[ko/en][fontSize]-[fontFamily] */

#font-en {
    font-family: Caveat Brush;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.04em;
    color: #CD0000;
}

#font-en1 {
    font-family: Caveat Brush;
    font-style: normal;
    font-size: 21px;
    color: #DAA520;
}

#font-ko,
h2 {
    /* pre font 'Gamja Flower'*/
    font-family: Roboto, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;
}

#font-ko-ubs {
    /* pre font 'Gamja Flower'*/
    font-family: UhBeeSeulvely, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;
}

#font-ko1 {
    font-family: Roboto, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

#font-ko1-ubs {
    font-family: UhBeeSeulvely, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: black;
}

#font-ko2,
p {
    font-family: Roboto, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
}

#wrap {
    /* border: 3px solid rgb(201, 0, 1); */
    box-shadow: 6px 6px 24px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 6px 24px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 24px 2px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    margin: 30px auto;
    width: 1540px;
    text-align: center;
}

iframe {
    position: relative;
    top: 30px;
    display: inline-block;
    margin: 0 auto;
    border: 0px none;
    margin-left: -700px;
    height: 1959px;
    margin-top: -333px;
    width: 895px;
    -ms-zoom: 1.75;
    -moz-transform: scale(1.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.75);
    -webkit-transform-origin: 0 0;
    overflow-x: hidden;
}