
<nav>
  <a href="/" class="title" style="text-decoration:none; color: #CD0000;">WHAT'S IN YOUR FRIDGE?</a>
    <ul>
        <li>
          <a href="/recommend" class="nav-link">메뉴 추천받기</a>
        </li>
        <li>
          <a href="/posts" class="nav-link">사용자 요리 게시판</a>
        </li>
        <% if(isAuthenticated){ %>
        <li>
          <a href="/users/<%= currentUser.username %>" class="nav-link">마이 페이지</a>
        </li>
        <li>
          <a href="/logout" class="nav-link">로그아웃</a>
        </li>
        <% } else { %>
        <li>
          <a href="/users/new" class="nav-link" >회원가입</a>
        </li>
        <li>
          <a href="/login" class="nav-link" >로그인</a>
      </li>
      <% } %>
    </ul>
</nav>
