*{
    text-align : center;
}
img{
    width: 277px;
    height: 181.82px;
    left: 360px;
    top: 357px;
}

.navbar {
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFCD1D;
}

#font-en {
    font-family: Caveat Brush;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.04em;
    color: #CD0000;
}
#font-en1{
    font-family: Caveat Brush;
    font-style: normal;
    font-size: 21px;
    color: #DAA520;
}

#font-ko {
    font-family: 'Gamja Flower', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;
}
#font-ko1 {
    font-family: 'Gamja Flower', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 29px;
}
.img-Box{
    display : inline-block;
}
.button-Box{
    display : inline-block;
    width: 175px;
    height: 70px;
    
    left: calc(50% - 175px/2 - 307.5px);
    top: 173px;

    border: 4px solid #2D2D2D;
    box-sizing: border-box;
    border-radius: 40px;
}
.btn-group{
    width : 500px;
    height : 50px;
    
}
