* {
    text-align: center;
}

img {
    width: 277px;
    height: 181.82px;
    left: 360px;
    top: 357px;
}

.navbar {
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFCD1D;
}

#font-en {
    font-family: Caveat Brush;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.04em;
    color: #CD0000;
}

#font-en1 {
    font-family: Caveat Brush;
    font-style: normal;
    font-size: 21px;
    color: #DAA520;
}

#font-ko {
    font-family: 'Gamja Flower', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;
}

#font-ko1 {
    font-family: 'Gamja Flower', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 29px;
}

.imgBox {
    display: inline-block;
}

.btn-group {
    margin: 7px;
}

.btn-ingredient {
    display: inline-block;
}

.btn-ingredient p {
    margin-bottom: 0;
}