
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>

<body>
    <div class="imgcontainer">
        <img src="/img/login_fridge_img.png" alt="firdge" class="img">
    </div>
    <h2 id="font-en">WHAT'S IN YOUR FRIDGE?</h2>

    <form action="/users/login" method = "post">
        <div class="container">
            <input type="text" placeholder="ENTER USERNAME" name="username" required>

            <input type="password" placeholder="ENTER PASSWORD" name="password" required>

            <button type="submit">Login</button>

            <a href="/auth/register"><button type="button" class="cancelbtn">Register</button></a>
        </div>

    </form>
</body>

</html>