<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>냉장고에 뭐있어?</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body style="background-color: #FFCD1D;     overflow:hidden;">
        <div class="title-container">
            <h3>냉장고에 뭐있어?</h3>
            <h1><a href="#" style="text-decoration:none">WHAT’S IN YOUR FRIDGE?</a> </h1>
        </div>
        <div class="main-container">
            <div class="clickFridge-container">
              
                <img src="/img/click-fridge-img.png" alt="">
                <div>냉장고를 클릭해서<br>만들 수 있는 메뉴 추천받기</div>
            </div>


            <div class="fridge-img-container">
                <a href="/recommend"><img src="/img/main-fridge-img.png" alt="fridge" ></a>
                <a href="/posts"><img src="/img/main-recipenote-img.png" alt="recipenote"></a>
            </div>
            <div class="clickRecipe-container">
                <img src="/img/click-recipe-img.png" alt="">
                <div>레시피 노트를 클릭해서<br>다른 사용자들이 만든 음식 구경하기</div>
            </div>
    </body>
</html>